<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Apps</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Khula:300,700" rel="stylesheet">


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</head>
<body>

<div>
  <nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand logo" href="/">BOERS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="databaser">Databaser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="webdesign">Webdesign</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="quiz">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reklamespil">Reklamespil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="apps">Apps</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
	<h1 style="margin-top: 80px">Apps på arbejdet</h1>
  <p>Jeg arbejder på nuværende tidspunkt med apps på arbejdet.</p>
  <p>Før i tiden lavede jeg apps i deres native sprog: Java(android) og Swift(iOS). Dette krævede dog to forskellige kodebaser til én enkel app. Derfor investerede
  mit arbejde i jeg lærede React-Native, hvilket er et framework der omskriver Javascript og React(javascript library) til native code som Android og iOS kan kompilere og forstå.</p>
  <p>Der er brugt den agile metode til design af appen, samt relative database til backend, når appen henter data ned. </p>
  <h3>Disse apps er skrevet i native code(Java og Swift)</h3>
  <a href="https://play.google.com/store/apps/details?id=com.cbitas.cbit.cbitbaker" target="_blank">(Android)CBIT Baker</a> |
  <a href="https://itunes.apple.com/dk/app/cbit-baker/id1407685388?l=da&mt=8" target="_blank">(iOS)CBIT Baker</a>
  <p>Screenshots:</p>
  <img src="images/android.png" style="height: 300px; margin-top: 0; display: block-inline;"/>
  <img src="images/ios.png" style="height: 300px; margin-top: 0; display: block-inline;"/>
  <p style="font-size: 13px; margin-top: 15px">Jeg har ikke fået udgivet nogle React-Native app endnu(den er stadig i testfasen), men deadline til version 1.0 er sat til slut Maj.</p>


</div>

</div>
<div class="footer">
  <p style="margin-top: 20px">Made with ❤</p>
  <p>Copyright © 2018</p>
</div>

</body>
</html>

<style>

  .footer {
      overflow: hidden;
      text-align: center;
      width: 100%;
      height: 100px;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 3px 0 rgba(50,50,50,0.2);
  }
  
  .container {
  	text-align: center;
  	width: 100%;
  	height: 820px;

  }

  .container img {
  	margin-top: 200px;
  	height: 250px;
  }

  .navbar-nav {
    margin-left: auto;
  }
  .navbar {
      width: 70%;
      margin: auto;
  }

	.logo {
    font-family: 'Montserrat', sans-serif;
  } 

  body {
      line-height: 1.5;
      background-color: background-color: #F8FBFF;
      font-family: Raleway,sans-serif;
      font-size: 18px;
      background-color: #f8f8f8;
  }

</style>