<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>BOERS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Khula:300,700" rel="stylesheet">


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</head>
<body>

<div>
  <nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand logo" href="/">BOERS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="databaser">Databaser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="webdesign">Webdesign</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="quiz">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reklamespil">Reklamespil</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

<div class="banner">
  <div class="banner-content">
    <p class="banner-bigtext">YEAH I <br> FUCK <br> BITCHES</p>
    <p class="banner-smalltext">FUCKBOI, INTERNET ENTREPRENEUR, RICH KID</p>
  </div>  
</div>
<div class="intro">
  <div class="intro-container">
    <h2>What is this?</h2>
    <p>This is a website dedicated to the self proclaimed prophecy, Anton Boers Martinussen. He's known for his high IQ and mad beer pong skills. It will be used to show his current projects in his class Informatik aswell as past projects to show how fucking awesome he really is. <br>But don't just take our word. Here is a selection of totally real comments people have made about Anton.</p>
    <div class="intro-reviews-container">
      <div class="intro-reviews">
        <div class="intro-review">
          <img class="intro-review-pic" src="images/aqib.jpg">
          <p>He let me suck his cock once at a party. Cool guy!</p>
          <p class="review-author">Aqibsen</p>
        </div>
        <div class="intro-review">
          <img class="intro-review-pic" src="images/postie.jpg">
          <p>Taught me how to fuck.</p>
          <p class="review-author">Post Malone</p>
        </div>
        <div class="intro-review">
          <img class="intro-review-pic" src="images/sofie.jpg">
          <p>My idol. Enough said.</p>
          <p class="review-author">Sofie</p>
        </div>
        <div class="intro-review">
          <img class="intro-review-pic" src="images/animekid.jpg">
          <p>He became my first ever friend. Solid lad.</p>
          <p class="review-author">Anime kid</p>
        </div>
        <div class="intro-review">
          <img class="intro-review-pic" src="images/trump.jpg">
          <p>I have tremendous respect for this guy. I love him.</p>
          <p class="review-author">Donald J. Trump</p>
        </div>
        <div class="intro-review">
          <img class="intro-review-pic" src="images/Ramsay.jpg">
          <p>Knows how to treat a man.</p>
          <p class="review-author">Gordon Ramsay</p>
        </div>
        <div class="intro-review">
          <img class="intro-review-pic" src="images/yeaboi.jpg">
          <p>Taught me how to like myself like I am.</p>
          <p class="review-author">Yea boi kid</p>
        </div>
        <div class="intro-review">
          <img class="intro-review-pic" src="images/nicklas.jpg">
          <p>A real wanker. Lovely bloke.</p>
          <p class="review-author">N-Jay</p>
        </div>
      </div>
    </div>
    <h2>No. I don't have an ego</h2>
  </div>
</div>
<div class="footer">
  <p style="margin-top: 20px">Made with ❤</p>
  <p>Copyright © 2018</p>
</div>

</body>
</html>

<style>
  

  .footer {
      overflow: hidden;
      text-align: center;
      width: 100%;
      height: 100px;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 3px 0 rgba(50,50,50,0.2);
  }

  .review-author {
    margin-top: -15px !important;
  }

  .intro-reviews-container {
    margin-top: 50px;
    height: 550px;
  }

  .intro-review {
    width: 260px;
    height: 250px;
    display: inline-block;

  }

  .intro-review p {
    margin-top: 20px;
    font-size: 0.7rem !important;
  }

  .intro-review-pic {
    height: 175px;
    width: 175px;
    border-radius: 50%;
  }

  .intro-container {
    width: 1140px;
    height: 500px;
    margin: auto;
    text-align: center;
  }

  .intro {
    width: 100%;
    height: 850px;
  }

  .intro-container h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-top: 35px;
    margin-bottom: 2rem;
  }

  .intro-container p {
    font-weight: 100;
    font-size: 1.1rem;
  }

  .banner {
    width: 100%;
    height: 750px;
    background-image: url("images/banner.jpg");
    background-size: 100% 100%;
    position: relative;
  }

  .banner-content {
    width: 50%;
    height: 325px;
    position: absolute;
    bottom: 212.5px;
    margin-left: 25%;
    background-color: none;
    color: white;
  }

  .banner-bigtext {
    font-family: 'Khula-light', sans-serif;
    font-size: 64px;
    font-weight: bold;
  }

  .banner-smalltext {
    margin-top: -15px;
    font-family: 'Khula', sans-serif;
    font-size: 24px;
  }

  .navbar-nav {
    margin-left: auto;
  }
  .navbar {
      width: 70%;
      margin: auto;
  }

	.logo {
    font-family: 'Montserrat', sans-serif;
  } 

  body {
      line-height: 1.5;
      background-color: background-color: #F8FBFF;
      font-family: Raleway,sans-serif;
      font-size: 18px;
      background-color: #f8f8f8;
  }


</style>