<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Reklamespil</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Khula:300,700" rel="stylesheet">


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</head>
<body>

<div>
  <nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand logo" href="/">BOERS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="databaser">Databaser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="webdesign">Webdesign</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="quiz">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reklamespil">Reklamespil</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
	<img src="images/construction.gif">
	<h1 style="margin-top: 20px">UNDER CONSTRUCTION</h1>
</div>

</div>
<div class="footer">
  <p style="margin-top: 20px">Made with ❤</p>
  <p>Copyright © 2018</p>
</div>

</body>
</html>

<style>

  .footer {
      overflow: hidden;
      text-align: center;
      width: 100%;
      height: 100px;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 3px 0 rgba(50,50,50,0.2);
  }
  
  .container {
  	text-align: center;
  	width: 100%;
  	height: 820px;

  }

  .container img {
  	margin-top: 200px;
  	height: 250px;
  }

  .navbar-nav {
    margin-left: auto;
  }
  .navbar {
      width: 70%;
      margin: auto;
  }

	.logo {
    font-family: 'Montserrat', sans-serif;
  } 

  body {
      line-height: 1.5;
      background-color: background-color: #F8FBFF;
      font-family: Raleway,sans-serif;
      font-size: 18px;
      background-color: #f8f8f8;
  }

</style>